---
http_interactions:
- request:
    method: get
    uri: https://www.breakingbadapi.com/api/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9990'
      X-Ratelimit-Reset:
      - '1640327097'
      Etag:
      - W/"d1-wn9dmSWrEUp1hys2YX5SnVSCJKc"
    body:
      encoding: UTF-8
      string: '{"characters":"https://breakingbadapi.com/api/characters","episodes":"https://breakingbadapi.com/api/episodes","quotes":"https://breakingbadapi.com/api/quotes","deaths":"https://breakingbadapi.com/api/deaths"}'
  recorded_at: Fri, 24 Dec 2021 06:11:44 GMT
recorded_with: VCR 6.0.0
